h1,h2{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    font-family: "Electrolize", sans-serif;
}

.logoaulab{
    width: 100px;
    height: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listlink{
    list-style-type: none;
    display: flex;
}

.link{
    margin: 10px;
    
}

.link:hover{
    border-bottom: 2px solid rgb(216, 216, 87);
}
    


header{
    height: 80vh;
    background-size: cover;
    background-image: url(https://picsum.photos/id/237/200/300);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titlearticle{
    text-align: center;
}

.imgarticle{
    width: 300px;
}

.containerarticle{
    display: flex;
    width: 60%;
}

aside{
    background-color: rgb(205, 195, 50);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
   
    
}

    
    


button:hover{
    background-color: green;
}


